@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global responsive font sizing */
:root {
  font-size: 14px; /* default for mobile */
}
@media (min-width: 640px) {
  :root { font-size: 16px; }
}

@keyframes shine {
  0% {
    transform: translateX(-150%) skewX(-20deg);
  }
  100% {
    transform: translateX(150%) skewX(-20deg);
  }
}

.animate-shine {
  animation: shine 5s ease-in-out infinite;
}